*{
    box-sizing: border-box;
}
button{
    cursor: pointer;
    outline: none;
    border: none;
}
body{
    margin: 0;
    height: 100vh;
    text-align: center;
}
.game_start{
    width: 200px;
    height: 100px;
    font-size: 40px;
    color: white;
    background-color: #eccc68;
    left: -100%;
    top: -100%;
    position: absolute;
}
.timer{

}
.container{

}
.on{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}