*{
  margin: 0;
  border: none;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
header{
  width: 100%;
  text-align: center;
  margin: 10px;
  font-size: 24px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start{
  padding: 50px;
  background-color: aquamarine;
  font-size: 28px;
  font-weight: 500;
  cursor: pointer;
}
table{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
tr{
}
tr td{
  width: 100px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
}
tr td:hover{
}
.off{
  padding: 50px;
  background-color: aquamarine;
  font-size: 28px;
  font-weight: 500;
  margin: 10px;
}